<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why US</h2>
                <hr class="light">
                <p class="text-faded">
                    NS&H Frontier is an Asia-Focused marketing and consulting group for blockchain business and virtual projects. Along with other brilliant service platforms, we are one of those to provide global consulting and survive the periods of poor economic depression, and intense competition in Asia. Whereas, NS&H is noted for a style of customization that give rise to the clients’ von selbst choice – including but not restricted to media distribution, user expanding, CRM strategy, and integration marketing promotion et alii.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">
                    Nash and Hill have been connected since college and shares a love of blockchain technology and crypto currency. Back In early generation Z, young Nash and Hill have drew up plans for a fantasy full of uncertainty and excitement. YM.Co, the former NS&H was founded apres a strong fist bump in a 15 square metre dorm. We both got a laugh out of the declaration, and We have never let ourselves live it down. 
                </p>
                <p class="text-faded">
                    Fast forward to present, NS&H have conducted our business in Hong Kong & Singapore for nearly 5 years. As we scout the local market, size up the competition, and promote service, our clients and projects grow rapidly.
                </p>
            </div>
        </div>
    </div>
</section>
